[submodule "backend"]
	path = backend
	url = https://github.com/wirvsvirus-stay-home/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/wirvsvirus-stay-home/frontend-html-js.git
